<div class="chat">
  <div class="option">
    <mat-select placeholder="Felhasználók" [(ngModel)]="selectedUser">
      <mat-option *ngFor="let user of users" [value]="user.email">{{user.email}}</mat-option>
    </mat-select>
  </div>
  <div class="message-view">
    <ul>
      <li *ngFor="let message of messages">
        <ng-container *ngIf="message.email && message.content">
          <ng-container *ngIf="message.email === authService.getEmail(); else receivedMessage">
            {{ message.email }} - {{ message.content }}
          </ng-container>
          <ng-template #receivedMessage>
            {{ message.email }} - {{ message.content }}
          </ng-template>
        </ng-container>
      </li>
    </ul>
  </div>
  <div class="message"> <!-- css-ben display:none  -->
    <input matInput type="text" [(ngModel)]="userMessage" (keyup.enter)="sendUserMessage()">
    <button mat-raised-button color="primary" (click)="sendUserMessage()">Küldés</button>
  </div>
</div>