.searchbar{
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.selected{
    width:212px;
    margin-bottom: 20px;
    text-align: center;
}

img{
    width: 30%;
}

.documentViewAdmin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 70px
}

.p{
    width: 30%;
    height: 40%;
}

.button{
    display: flex;
    justify-content: center;
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .documentViewAdmin{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 70px;
        height: 200px;
    }
    img{
        width: 100%;
        padding-bottom: 20px;
    }
    .p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
   }

   