<form (ngSubmit)="onSubmit()" class="formClass">
  <mat-form-field appearance="outline">
    <mat-label>Email cím:</mat-label>
    <input matInput type="text" id="email" name="email" [(ngModel)]="email">
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Jelszó:</mat-label>
    <input matInput type="password" id="password" name="password" [(ngModel)]="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Bejelentkezés</button>
</form>