<div id="input">
  <mat-form-field>
    <mat-label>Browsing</mat-label>
    <input type="" matInput accept="image/*" #fileInput hidden>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Select option</mat-label>
    <mat-select [(value)]="selectedOption">
      <mat-option value="Számla">Számla</mat-option>
      <mat-option value="Számlakivonat">Számlakivonat</mat-option>
      <mat-option value="Egyéb">Egyéb</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>

</div>
